In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns

en_df = pd.read_csv('en_dataset.csv')
fr_df = pd.read_csv('fr_dataset.csv')
ar_df = pd.read_csv('ar_dataset.csv')
fr_df2 = pd.read_csv('french_tweets.csv')# this dataset is not interesting for the task!

In [2]:
fr_df2

         label                                               text
0            0  - Awww, c'est un bummer. Tu devrais avoir davi...
1            0  Est contrarié qu'il ne puisse pas mettre à jou...
2            0  J'ai plongé plusieurs fois pour la balle. A ré...
3            0  Tout mon corps a des démangeaisons et comme si...
4            0  Non, il ne se comporte pas du tout. je suis en...
...        ...                                                ...
1526719      1  Oui, cela fonctionne mieux que de l'attendre à...
1526720      1  Je viens de me réveiller. Ne pas avoir d'école...
1526721      1  Thewdb.com - très cool d'entendre les vieilles...
1526722      1  Êtes-vous prêt pour votre mojo makeover? Deman...
1526723      1  Joyeux 38ème anniversaire à mon livre de tous ...

[1526724 rows x 2 columns]

Here the labels are: 

0 -> negative tweet 

1 -> positive tweet (I can use this part of the dataset and use it with the one with a miultitude of classes

In [15]:
positive = fr_df2.loc[fr_df2['label']==1]
n = len(positive)
int(n/100)

7551

In [4]:
fr_df2['text'].head(3)

0    - Awww, c'est un bummer. Tu devrais avoir davi...
1    Est contrarié qu'il ne puisse pas mettre à jou...
2    J'ai plongé plusieurs fois pour la balle. A ré...
Name: text, dtype: object

In [5]:
en_df['tweet']

0                  call sis im boy girl still faggot shut
1                    @user @user legit nilas retarded idk
2                                        said retard @url
3       america another 8 years obama's ideology via h...
4                     @user don... fucking made cry twat.
                              ...
5642                              @user @user retard :) x
5643    i'm hole sir i'm faggot sir i'm clit sir i'm h...
5644    (2/2) like fucking twat i'm damage heal you. r...
5645                              bf retarded guess u r 2
5646                   @user whats ching chong stuff mean
Name: tweet, Length: 5647, dtype: object

In [ ]:
fr_df.head(3)

In [ ]:
ar_df.head(5)

In [ ]:
cum = ar_df['target'].value_counts().to_frame()
cum['HITId'] = cum.index
cumfig, ax = plt.subplots(figsize=(30,20))
sns.barplot(data=cum,x='HITId',y='target',ax=ax)

In [ ]:
fr_df.columns

In [ ]:
fr_df.describe().transpose()

In [ ]:
ar_df.describe().transpose()

In [ ]:
fr_df.isnull().sum()

In [ ]:
ar_df.isnull().sum()

In [ ]:
fr_df.columns

In [ ]:
ar_df.columns

In [ ]:
fr_df.info()

### Analysis of the french dataset

In [ ]:
fr_df.head()

In [ ]:
#test if the data contains null values
print('Nan value',fr_df.isnull().sum())

In [ ]:
#take a look at the column of the dataframe to see the features
fr_df.columns

In [ ]:
fr_df['sentiment'].value_counts()

In [ ]:
fr_df_drop = fr_df.drop(columns=["directness","annotator_sentiment","target","group"])

In [ ]:
fr_df_drop.head()

In [ ]:
class_normal = np.where(fr_df['sentiment']=='normal')

In [ ]:
dff = fr_df.mask(fr_df['sentiment']=='normal')
dff.count()

In [ ]:
fr_df['tweet']

### Analyse dataset arabe

In [ ]:
ar_df.head(100)

In [ ]:
ar_df.isnull().sum()

In [ ]:
ar_df[ar_df['sentiment'] != 'normal']

In [ ]:
ar_df.head(20)